<main class="p-4">
<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-lowercase">Tytile</h2>
    <h3 class="text-capitolize">Menu</h3>

    <hr>

    <div class="display-1 text-muted">Hello</div>
    <div class="display-6">Second</div>

    <hr>

    <div class="text-muted text-end">
           Finish
    </div>

    <hr>

    <button class="btn btn-success">
        <span class="text-uppercase">Test button</span>
    </button>

    <hr>

    <p class="text-primary">My text</p>

    <hr>

    <button class="btn btn-outline-primary">Open</button>

     <hr>

     <div class="card">
        <div class="card-body">
            This is content
        </div>
     </div>

</main>

<main class="row gy-5">

    <section class="col-6">
<div class="card text-bg-dark">
    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
  <div class="card-body">
    <h5 class="card-title text-bg-primary">Title</h5>
    <p class="text-bg-secondary">Hello</p>
    <a href="/summery" class="btn btn-primary">Open</a>
  </div>
</div>
</section>
<br>
<br>

<div class="card">
    
  <div class="card-header">
    <div>Menu</div>
  </div>

  <ul class="list-group-flush">
    <li class="list-group-item">
    <a href="#" class="btn btn-link">Home page</a>
    </li>
     <li class="list-group-item">
     <a href="#" class="btn btn-link">Summery page</a>
     </li>
      <li class="list-group-item">
     <a href="#" class="btn btn-link">Facebook page</a>
     </li>

</ul>

<div class="card-footer">
    <button class="btn btn-dark btn-sm">Update</button>
</div>
</div>

<br>
<br>
<br>

<table class="table table-striped table-bordered text-bg-info">
    <thead>
        <tr>
            <th>
                #id
            </th>
            <th>
                name
            </th>
            <th>
                age
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Jone</td>
            <td>25</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Stive</td>
            <td>27</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Poll</td>
            <td>26</td>
        </tr>
    </tbody>
</table>
<br>
<br>

<div class="card text-bg-success">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click</button>
    </div>
    <div class="card-footer text-center">Footer</div>
</div>

<br>
<br>
<br>

<div class="row g-3">
    <div class="col-4">
        <div class="card text-bg-success ">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click</button>
    </div>
    <div class="card-footer text-center">Footer</div>
</div>
    </div>

<div class="col-4">
        <div class="card text-bg-info ">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click</button>
    </div>
    <div class="card-footer text-center">Footer</div>
</div>
    </div>

<div class="col-4">
        <div class="card text-bg-warning ">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click</button>
    </div>
    <div class="card-footer text-center">Footer</div>
</div>
    </div>
 
 <div class="col-4">
        <div class="card text-bg-success ">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click</button>
    </div>
    <div class="card-footer text-center">Footer</div>
</div>
    </div>

<div class="col-4">
        <div class="card text-bg-info ">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click</button>
    </div>
    <div class="card-footer text-center">Footer</div>
</div>
    </div>

<div class="col-4">
        <div class="card text-bg-warning ">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click</button>
    </div>
    <div class="card-footer text-center">Footer</div>
</div>
    </div>
</div>

</main>
<br>
<hr>
<br>

<main>
    <div class="row">
        <div class="col=6">
    <div class="nav nav-tabs">
        <div class="nav-item">
            <a href="#" class="nav-link active">Home page</a>
        </div>
        <div class="nav-item">
            <a href="#" class="nav-link">Catalog</a>
        </div>

        <div class="nav-item">
            <a href="#" class="nav-link disabled">Exit</a>
        </div>

        <div class="nav-item">
            <a href="#" class="nav-link" >FAQ page</a>
        </div>
        

    </div>
    </div>
    </div>
</main>


<main>
    <div class="row">
        <div class="col-6">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>

            <li class="breadcrumb-item">
                <a href="#">Doc</a>
            </li>

            <li class="breadcrumb-item">
                Work
            </li>
        </ul>
    </div>
       <button class="btn btn-primary rounded-pull m-5">Click</button>
    <div class="col-6">
        <div class="card alert alert-dark">
        <h6>Hello <span class="badge text-bg-success rouded-pull m-2">New</span></h6>
<br>
<br>
       <div class="alert alert-primary">Важлива інформація</div>
    </div>
    </div>
    </div>
</main>
</main>
 
 <main class="p-5">
    <div class="row g-5">
        <div class="col-12">
        <div>
            <label class="form-label">Email</label>
            <div class="row">
                <div class="col-3">
                 <input class="form-control-lg">
                </div>
            </div>
           
            <div class="row">
                <div class="col-3">
                 <input class="form-control-sm">
                </div>
            </div>
            
            <div class="form-text text-danger">Error</div>

        </div>
        </div>

        <div class="col-7">
            <label class="form-label">Email</label>
            <input class="form-control">
            <div class="form-text text-danger">Error</div>
        </div>

        <div class="col-6">
            <label class="form-label">Email</label>
            <input class="form-control">
            <div class="form-text text-danger">Error</div>
        </div>
        <br>
        <hr>
        <br>

    </div>
    <div class="col-12">
        <div>
            <label class="form-label">Select</label>
            <div class="row">
                <div class="col-5">
                 <select class="form-select">
                    <option selected>Open list</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                 </select>
                </div>
            </div>

        </div>
        </div>

        <br>
        <hr>
        <br>

        <div class="col-12">
            <label class="form-label">Food</label>
            <div class="form-check">
                <label class="form-check-lable">Apple</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-lable">Cherry</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-lable">Mango</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>

        </div>

        <div class="col-12">
            <label class="form-label">Food</label>
            <div class="form-check">
                <label class="form-check-lable">Apple</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-lable">Cherry</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-lable">Mango</label>
                <input name="food" type="radio" class="form-check-input">
            </div>

        </div>

         <div class="col-12">
            <label class="form-label">Get bonus</label>
            
            <div class="form-check form-switch">
                <label class="form-check-lable">Yes</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check form-switch">
                <label class="form-check-lable">No</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>

        </div>



 </main>






